@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f8f8;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
